<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//unpkg.com/brain.js"></script>
</head>
<body>
    <!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js" integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!-- main container -->
    <div class="bg-red flex w-full h-full">
        <!-- main content -->
        <div class="bg-[#EAF0FD] w-full h-full px-1 lg:px-4 xl:px-12 2xl:px-36 lg:py-4 py-2">
            <!-- top content -->
            <div class="w-full flex justify-end">
                <h1 id="clock" class="text-[#19283F] text-xl flex items-center justify-end mr-2 sm:mr-none">
                </h1>
            </div>

            <!-- middle content -->
            <div class="flex-col mt-10 pb-20">
                <h1 class="font-bold text-[22px]">AI Prediction</h1>
                <h1 class="md:max-w-[50%] mt-3">This is a super minimal example of AI predicting the price for hour 00:00 with example data.</h1>
            </div>

            <h1 class="font-bold text-[20px]">Based on this data: hour: 0/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3</h1>

            <h1 id="data" class="font-bold text-[22px]"></h1>

        </div>
    </div>
    </script>
</body>
<div id="data"></div>

<script>
// Create a Neural Network
const network = new brain.NeuralNetwork();

// Train the Network with 4 input objects
network.train([
  { input: { hour: 0/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 }, output: { price: 0.3 } },
  { input: { hour: 1/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 }, output: { price: 0.3 } },
  { input: { hour: 2/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 }, output: { price: 0.3 } },
  { input: { hour: 3/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 }, output: { price: 0.3 } },
  { input: { hour: 20/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 }, output: { price: 0.3 } },
  { input: { hour: 21/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 }, output: { price: 0.3 } },
  { input: { hour: 22/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 }, output: { price: 0.3 } },
  { input: { hour: 23/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 }, output: { price: 0.3 } },
]);

// Use the network to predict the price based on a new temperature value
const output = network.run({ hour: 0/24, weekday: 1/7, temperature: 0.5, windSpeed: 0.3 });

document.getElementById("data").innerHTML = "Predicted price: " + output.price.toFixed(2) + "€";
</script>
</body>
</html>