<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js" integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!-- main container -->
    <div class="bg-white flex w-full h-full">
        <!-- main content -->
        <div class="bg-[#EAF0FD] w-full h-full px-1 lg:px-4 xl:px-12 2xl:px-36 lg:py-4 py-2">
            <!-- top content -->
            <div class="w-full flex justify-end">
                <h1 id="clock" class="text-[#19283F] text-xl flex items-center justify-end mr-2 sm:mr-none">
                </h1>
            </div>

            <!-- middle content -->
            <div class="flex-col mt-10 pb-28">
                <h1 class="font-bold text-[22px]">History Data</h1>
                <h1 class="md:max-w-[50%] mt-3">Here you can see history data for temperature, wind speed and spot-prices. Currently you can only sort data by "all possible", more options will be added in the future.</h1>
            
                <div class="mt-12 flex flex-row">
                    <div class="bg-white relative inline-flex w-56 mr-2">
                        <select class="rounded-md shadow-md px-3 py-2 w-full cursor-pointer border border-1" id="timeSelection">
                            <option value="All">All Possible</option>
                        </select>
                    </div>
                    <div class="bg-white relative inline-flex w-56">
                        <select class="rounded-md shadow-md px-3 py-2 w-full cursor-pointer border border-1" id="placeSelection">
                            <option value="Espoo">Espoo</option>
                            <option value="Helsinki">Helsinki</option>
                            <option value="Jyvaskyla">Jyväskylä</option>
                            <option value="Kalajoki">Kalajoki</option>
                            <option value="Kuopio">Kuopio</option>
                            <option value="Narpio">Närpiö</option>
                            <option value="Oulu">Oulu</option>
                            <option value="Tampere">Tampere</option>
                            <option value="Turku">Turku</option>
                            <option value="Vaasa">Vaasa</option>
                            <option value="Vantaa">Vantaa</option>
                        </select>
                    </div>
                </div>

                <div class="bg-white rounded-3xl shadow-md mt-3 pb-3 sm:py-6 sm:px-12 2xl:px-36">
                    <!-- Chart and Table -->
                    <div class="flex flex-col sm:justify-center sm:items-center mb-6">
                        <table class="w-full sm:w-[700px] h-[500px] bg-red-200 sm:h-[600px] text-center text-black text-lg font-semibold shadow-md mt-6">
                            <thead class="bg-[#4B49AC] text-white px-4 py-2 my-2 border-[1px] border-[#4B49AC]">
                                <tr>
                                <th>Date</th>
                                <th>Price snt/kWh</th>
                                <th>Temperature</th>
                                <th>Wind Speed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each allWeatherHistory}}
                                <tr class="bg-white border-[1px] border-[#4B49AC]">
                                    <td>{{formatDateShort this.date}}</td>
                                    <td>{{format1Decimal this.price}}</td>
                                    <td>{{format1Decimal this.temperature}}</td>
                                    <td>{{format1Decimal this.wind_speed}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // clock
        window.onload = function() {     
        document.getElementById('placeSelection').value = window.location.pathname.split('/')[3]; 
        // clock
        function showTime() {
            // Create a date object containing current timestamp
            var date = new Date();
            // Separate hours, minutes and seconds
            var h = date.getHours();
            var m = date.getMinutes();
            var s = date.getSeconds();
            // Add leading zeros
            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;
            // Build a string for time and put it into h1 named clock
            var time = h + "." + m + "." + s;
            document.getElementById("clock").innerHTML = time;
            // After 1000 ms (1 s) call showTime again
            setTimeout(showTime, 1000);
        }
        showTime();
        }
        // Place dropdown
        document.getElementById('placeSelection').addEventListener('change', function() {
            var city = this.value;
            window.location.href = '/en/history/' + city;
        });
    </script>
</body>